In [17]:
# import libraries
import pandas as pd

In [18]:
# read in data
df=pd.read_csv("C:/Users/cdj3e/vu_bootcamp/Project_03_Data_Engineering/Resources/Data_Cleaning/Listings_Cleaned_Sample.csv")

# display to confirm
df.head()

C:\Users\cdj3e\AppData\Local\Temp\ipykernel_23436\235250641.py:2: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/cdj3e/vu_bootcamp/Project_03_Data_Engineering/Resources/Data_Cleaning/Listings_Cleaned_Sample.csv")

,Unnamed: 0,id,name,summary,space,description,neighborhood_overview,notes,transit,access,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,0,15461810,Cozy Private Room with parking (12B),Very small room with twin bed. This room is a ...,This very small room is located in a dorm-styl...,Very small room with twin bed. This room is a ...,This is a lower-middle class neighborhood. It ...,Keys- Mary issues keys to guests for the build...,Bus stop within walking distance.,NaN,...,NaN,10.0,NaN,NaN,f,moderate,f,f,30,0.18
1,1,13416156,2 bedrooms and 1.5 bathrooms,"Our comfortable, quiet rooms, located on the ...","This a single family house, 4 Bedrooms and 2.5...","Our comfortable, quiet rooms, located on the ...",Super quiet!,Use washer and dryer for $5/use including laun...,"Can walk 30 mins to store, restaurants! And pu...",Kitchen,...,10.0,10.0,10.0,10.0,f,strict,f,f,2,0.65
2,2,9136734,10 min walk to Abbot Kinney in Venice!,"Beautiful, newly remodeled 3BR 2BA apartment i...","Comfortable space that feels like home, our pl...","Beautiful, newly remodeled 3BR 2BA apartment i...",NaN,NaN,"Walking around Venice is easy as Abbot Kinney,...",Guests will be able to access every space insi...,...,10.0,10.0,10.0,10.0,t,flexible,f,f,1,0.24
3,3,3378135,Large room in Culver/Mar Vista,The perfect place for travelers in the best ar...,"This large, private room is perfect for any tr...",The perfect place for travelers in the best ar...,"Simply put, I love Mar Vista! I am just 3 mile...",My passion is health and wellness. Feel free t...,"If I'm not using it, you are totally welcome t...","The shared space includes large living room, f...",...,10.0,10.0,10.0,9.0,f,flexible,f,f,2,0.41
4,4,4403665,"Silver Lake, Large 1BD with views 7",Stay 31 days or more and pay no taxes. Large b...,Unlike many other guest rentals you will find ...,Stay 31 days or more and pay no taxes. Large b...,There are views of the surrounding mountains a...,• Please only book my place if you can check o...,The neighborhood is a very desirable area to l...,NaN,...,10.0,10.0,9.0,9.0,t,moderate,t,t,19,0.73

In [19]:
# drop unnecessary columns
df_clean=df.drop(columns=['Unnamed: 0','id','name','summary','space','description','neighborhood_overview','notes','interaction','house_rules','host_name','host_since','host_location','host_about','host_response_time','host_response_rate','host_is_superhost','host_listings_count','host_total_listings_count','host_verifications','host_has_profile_pic','host_identity_verified','street', 'neighbourhood','transit','access','host_neighbourhood','neighbourhood_cleansed','country','latitude','city','state','zipcode','market','smart_location','country_code','longitude','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','amenities','square_feet','price','weekly_price','monthly_price','security_deposit','cleaning_fee','guests_included','extra_people','minimum_nights','maximum_nights','instant_bookable','cancellation_policy','require_guest_profile_picture','require_guest_phone_verification','calculated_host_listings_count'])

# display to confirm
df_clean.head()

,host_id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9464908,1,2016-11-14,2016-11-14,100.0,10.0,6.0,NaN,10.0,NaN,NaN,0.18
1,48449293,6,2016-08-01,2017-02-13,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.65
2,45839570,1,2017-01-01,2017-01-01,80.0,10.0,8.0,10.0,10.0,10.0,10.0,0.24
3,171168,14,2014-07-20,2016-08-21,91.0,9.0,8.0,10.0,10.0,10.0,9.0,0.41
4,8258320,22,2014-11-17,2017-02-05,97.0,10.0,10.0,10.0,10.0,9.0,9.0,0.73

In [20]:
# clean up column header names
df_clean = df_clean.rename(columns={'host_id': 'Host ID', 'number_of_reviews': 'Number of Reviews', 'first_review': 'First Review', 'last_review': 'Last Review', 'review_scores_rating': 'Overall Rating', 'review_scores_accuracy': 'Accuracy', 'review_scores_cleanliness': 'Cleanliness', 'review_scores_checkin': 'Check-In', 'review_scores_communication': 'Communication', 'review_scores_location': 'Location', 'review_scores_value': 'Value', 'reviews_per_month': 'Reviews per Month'})

# print to confirm
df_clean.head()

,Host ID,Number of Reviews,First Review,Last Review,Overall Rating,Accuracy,Cleanliness,Check-In,Communication,Location,Value,Reviews per Month
0,9464908,1,2016-11-14,2016-11-14,100.0,10.0,6.0,NaN,10.0,NaN,NaN,0.18
1,48449293,6,2016-08-01,2017-02-13,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.65
2,45839570,1,2017-01-01,2017-01-01,80.0,10.0,8.0,10.0,10.0,10.0,10.0,0.24
3,171168,14,2014-07-20,2016-08-21,91.0,9.0,8.0,10.0,10.0,10.0,9.0,0.41
4,8258320,22,2014-11-17,2017-02-05,97.0,10.0,10.0,10.0,10.0,9.0,9.0,0.73

In [21]:
# check starting number of rows
print(len(df_clean))

10000

In [22]:
# drop any items with 0 reviews
df_clean.drop(df_clean.loc[df_clean['Number of Reviews']==0].index, inplace=True)

# recheck length
print(len(df_clean))

7713

In [23]:
# drop duplicate hosts
df_clean.drop_duplicates(subset=['Host ID'], inplace=True)

# recheck length
print(len(df_clean))

6226

In [24]:
# check data types
for column in df_clean.columns:
    print(f'{column}: {df_clean[column].dtype}')

Host ID: int64
Number of Reviews: int64
First Review: object
Last Review: object
Overall Rating: float64
Accuracy: float64
Cleanliness: float64
Check-In: float64
Communication: float64
Location: float64
Value: float64
Reviews per Month: float64

In [25]:
# update data types for postgresql import
df_clean['First Review'] = pd.to_datetime(df_clean['First Review'])
df_clean['Last Review'] = pd.to_datetime(df_clean['Last Review'])
df_clean['Overall Rating'] = df_clean['Overall Rating'].astype('Int64')
df_clean['Accuracy'] = df_clean['Accuracy'].astype('Int64')
df_clean['Cleanliness'] = df_clean['Cleanliness'].astype('Int64')
df_clean['Check-In'] = df_clean['Check-In'].astype('Int64')
df_clean['Communication'] = df_clean['Communication'].astype('Int64')
df_clean['Location'] = df_clean['Location'].astype('Int64')
df_clean['Value'] = df_clean['Value'].astype('Int64')
df_clean['Reviews per Month'] = df_clean['Reviews per Month'].astype('string')

In [26]:
# confirm data type updates
for column in df_clean.columns:
    print(f"{column}: {df_clean[column].dtype}")

Host ID: int64
Number of Reviews: int64
First Review: datetime64[ns]
Last Review: datetime64[ns]
Overall Rating: Int64
Accuracy: Int64
Cleanliness: Int64
Check-In: Int64
Communication: Int64
Location: Int64
Value: Int64
Reviews per Month: string

In [27]:
# create column for review scores
score = pd.Series([""])

df_clean.insert(5, 'Review Score', score)

In [28]:
# bucket the overall ratings 
df_clean['Review Score']=pd.cut(df_clean['Overall Rating'],5,labels=['Very Low','Low','Moderate','High','Very High'])

# print to confirm
df_clean.head(20)

,Host ID,Number of Reviews,First Review,Last Review,Overall Rating,Review Score,Accuracy,Cleanliness,Check-In,Communication,Location,Value,Reviews per Month
0,9464908,1,2016-11-14,2016-11-14,100,Very High,10,6,<NA>,10,<NA>,<NA>,0.18
1,48449293,6,2016-08-01,2017-02-13,100,Very High,10,10,10,10,10,10,0.65
2,45839570,1,2017-01-01,2017-01-01,80,High,10,8,10,10,10,10,0.24
3,171168,14,2014-07-20,2016-08-21,91,Very High,9,8,10,10,10,9,0.41
4,8258320,22,2014-11-17,2017-02-05,97,Very High,10,10,10,10,9,9,0.73
5,92997417,42,2016-09-08,2017-04-18,94,Very High,9,9,10,10,10,10,5.29
6,76546301,7,2016-12-02,2016-12-29,94,Very High,10,10,10,10,10,10,1.37
7,8851608,20,2014-10-31,2017-02-28,99,Very High,10,10,10,10,10,10,0.66
9,12521683,5,2015-07-10,2015-08-23,92,Very High,10,10,10,10,10,9,0.23
10,1876597,15,2015-01-25,2016-12-28,97,Very High,10,9,10,10,10,10,0.54
11,17264039,31,2014-11-22,2017-03-27,93,Very High,10,10,10,10,10,9,1.04
12,5994344,11,2017-02-11,2017-04-29,98,Very High,10,10,10,10,9,10,4.02
14,27240293,11,2015-02-16,2016-01-16,95,Very High,9,9,9,9,9,10,0.41
16,94034299,3,2017-04-06,2017-04-17,100,Very High,10,10,10,10,9,10,3.0
17,92029437,8,2017-03-19,2017-04-29,97,Very High,10,10,10,10,9,10,5.22
18,14278191,21,2016-11-20,2017-04-30,98,Very High,10,10,10,10,10,10,3.82
19,53600974,11,2016-10-15,2017-02-27,100,Very High,10,10,10,10,10,10,1.64
20,9041863,72,2015-09-21,2017-02-12,96,Very High,10,10,10,10,9,10,3.65
22,4925531,29,2016-06-02,2017-04-23,92,Very High,9,10,10,10,10,10,2.59
23,19976921,33,2015-05-23,2016-05-04,85,Very High,9,8,10,10,10,9,1.39

In [29]:
# find the average of each hosts subcategory ratings and round to 2 decimals
average = df_clean[['Accuracy','Cleanliness','Check-In','Communication','Location','Value']].fillna(0).mean(axis=1).round(2)

#insert data into new column
desired_index = 12
df_clean.insert(desired_index, 'Category Average', average)

# print to confirm
df_clean.head()

,Host ID,Number of Reviews,First Review,Last Review,Overall Rating,Review Score,Accuracy,Cleanliness,Check-In,Communication,Location,Value,Category Average,Reviews per Month
0,9464908,1,2016-11-14,2016-11-14,100,Very High,10,6,<NA>,10,<NA>,<NA>,4.33,0.18
1,48449293,6,2016-08-01,2017-02-13,100,Very High,10,10,10,10,10,10,10.00,0.65
2,45839570,1,2017-01-01,2017-01-01,80,High,10,8,10,10,10,10,9.67,0.24
3,171168,14,2014-07-20,2016-08-21,91,Very High,9,8,10,10,10,9,9.33,0.41
4,8258320,22,2014-11-17,2017-02-05,97,Very High,10,10,10,10,9,9,9.67,0.73

In [30]:
# check data types
for column in df_clean.columns:
    print(f"{column}: {df_clean[column].dtype}")

Host ID: int64
Number of Reviews: int64
First Review: datetime64[ns]
Last Review: datetime64[ns]
Overall Rating: Int64
Review Score: category
Accuracy: Int64
Cleanliness: Int64
Check-In: Int64
Communication: Int64
Location: Int64
Value: Int64
Category Average: float64
Reviews per Month: string

In [31]:
# update review score and category average data types for sql
df_clean['Review Score'] = df_clean['Review Score'].astype('string')
df_clean['Category Average'] = df_clean['Category Average'].astype('string')

In [32]:
# send cleaned data to csv
df_clean.to_csv("C:\\Users\\cdj3e\\vu_bootcamp\\Project_03_Data_Engineering\\Data\\reviews.csv", index=False)