In [218]:
import pandas as pd
import numpy as np

In [219]:
import nltk

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [220]:
import textblob

from textblob import TextBlob

In [221]:
df=pd.read_csv("C:/Users/cdj3e/vu_bootcamp/Project_03_Data_Engineering/Resources/Data_Cleaning/Listings_Cleaned_Sample.csv")
df.head()

C:\Users\cdj3e\AppData\Local\Temp\ipykernel_24816\233606769.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/cdj3e/vu_bootcamp/Project_03_Data_Engineering/Resources/Data_Cleaning/Listings_Cleaned_Sample.csv")

,Unnamed: 0,id,name,summary,space,description,neighborhood_overview,notes,transit,access,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,0,15461810,Cozy Private Room with parking (12B),Very small room with twin bed. This room is a ...,This very small room is located in a dorm-styl...,Very small room with twin bed. This room is a ...,This is a lower-middle class neighborhood. It ...,Keys- Mary issues keys to guests for the build...,Bus stop within walking distance.,NaN,...,NaN,10.0,NaN,NaN,f,moderate,f,f,30,0.18
1,1,13416156,2 bedrooms and 1.5 bathrooms,"Our comfortable, quiet rooms, located on the ...","This a single family house, 4 Bedrooms and 2.5...","Our comfortable, quiet rooms, located on the ...",Super quiet!,Use washer and dryer for $5/use including laun...,"Can walk 30 mins to store, restaurants! And pu...",Kitchen,...,10.0,10.0,10.0,10.0,f,strict,f,f,2,0.65
2,2,9136734,10 min walk to Abbot Kinney in Venice!,"Beautiful, newly remodeled 3BR 2BA apartment i...","Comfortable space that feels like home, our pl...","Beautiful, newly remodeled 3BR 2BA apartment i...",NaN,NaN,"Walking around Venice is easy as Abbot Kinney,...",Guests will be able to access every space insi...,...,10.0,10.0,10.0,10.0,t,flexible,f,f,1,0.24
3,3,3378135,Large room in Culver/Mar Vista,The perfect place for travelers in the best ar...,"This large, private room is perfect for any tr...",The perfect place for travelers in the best ar...,"Simply put, I love Mar Vista! I am just 3 mile...",My passion is health and wellness. Feel free t...,"If I'm not using it, you are totally welcome t...","The shared space includes large living room, f...",...,10.0,10.0,10.0,9.0,f,flexible,f,f,2,0.41
4,4,4403665,"Silver Lake, Large 1BD with views 7",Stay 31 days or more and pay no taxes. Large b...,Unlike many other guest rentals you will find ...,Stay 31 days or more and pay no taxes. Large b...,There are views of the surrounding mountains a...,• Please only book my place if you can check o...,The neighborhood is a very desirable area to l...,NaN,...,10.0,10.0,9.0,9.0,t,moderate,t,t,19,0.73

In [222]:
df_clean=df.drop(columns=['Unnamed: 0','id','name','number_of_reviews','first_review','last_review','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','reviews_per_month','space','description','neighborhood_overview','notes','interaction','house_rules','host_name','host_since','host_location','host_about','host_response_time','host_response_rate','host_is_superhost','host_listings_count','host_total_listings_count','host_verifications','host_has_profile_pic','host_identity_verified','street', 'neighbourhood','transit','access','host_neighbourhood','neighbourhood_cleansed','country','latitude','city','state','zipcode','market','smart_location','country_code','longitude','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','amenities','square_feet','price','weekly_price','monthly_price','security_deposit','cleaning_fee','guests_included','extra_people','minimum_nights','maximum_nights','instant_bookable','cancellation_policy','require_guest_profile_picture','require_guest_phone_verification','calculated_host_listings_count'])
df_clean.head()

                                             summary   host_id
0  Very small room with twin bed. This room is a ...   9464908
1  Our comfortable,  quiet rooms, located on the ...  48449293
2  Beautiful, newly remodeled 3BR 2BA apartment i...  45839570
3  The perfect place for travelers in the best ar...    171168
4  Stay 31 days or more and pay no taxes. Large b...   8258320

In [223]:
df_clean['summary'] = df_clean['summary'].replace('', np.nan)
df_clean.dropna(subset=['summary'], inplace=True)

In [224]:
df_clean.drop_duplicates(subset=['host_id'], inplace=True)

In [225]:
def preprocess_text(text):
    if pd.isnull(text):
        return ""
    
    tokens = word_tokenize(text.lower())
    
    filtered_tokens = [token for token in tokens if token not in stopwords.words('english')]
    
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in filtered_tokens]

    processed_text = ' '.join(lemmatized_tokens)
    return processed_text

df_clean['summary'] = df_clean['summary'].apply(preprocess_text)
df_clean

                                                summary   host_id
0     small room twin bed . room part large multi-ro...   9464908
1     comfortable , quiet room , located hill rowlan...  48449293
2     beautiful , newly remodeled 3br 2ba apartment ...  45839570
3     perfect place traveler best area los angeles ....    171168
4     stay 31 day pay tax . large bright 1 bd apartm...   8258320
...                                                 ...       ...
9994  close topanga center restaurant dining like in...  94492934
9995  come stay center la classic 1920s style los an...   1283043
9996  intire place . 's comfy 2 story loft cute pati...  11294711
9998  charming 2bd/1ba house feature crib , toddler ...  39698521
9999  one bdrm available- queen bed , sofa living ro...  49316230

[7878 rows x 2 columns]

In [226]:
df_clean['polarity_score'] = ""

In [227]:
def calculated_sentiment(text):
    polarity_score = TextBlob(text)
    try:
        return polarity_score.sentiment.polarity
    except:
        return None

df_clean['polarity_score'] = df_clean['summary'].apply(calculated_sentiment)

df_clean.head()

                                             summary   host_id  polarity_score
0  small room twin bed . room part large multi-ro...   9464908        0.212857
1  comfortable , quiet room , located hill rowlan...  48449293        0.201637
2  beautiful , newly remodeled 3br 2ba apartment ...  45839570        0.663939
3  perfect place traveler best area los angeles ....    171168        0.770833
4  stay 31 day pay tax . large bright 1 bd apartm...   8258320        0.210130

In [228]:
df_clean['polarity_sentiment'] = ""

In [229]:
def defined_sentiment(review):
    polarity_sentiment = TextBlob(review)

    sentiment = polarity_sentiment.sentiment.polarity
    if sentiment > 0:
        return "positive"
    elif sentiment < 0:
        return "negative"
    else:
        return "neutral"

df_clean['polarity_sentiment'] = df_clean['summary'].apply(defined_sentiment)

df_clean.head()

,summary,host_id,polarity_score,polarity_sentiment
0,small room twin bed . room part large multi-ro...,9464908,0.212857,positive
1,"comfortable , quiet room , located hill rowlan...",48449293,0.201637,positive
2,"beautiful , newly remodeled 3br 2ba apartment ...",45839570,0.663939,positive
3,perfect place traveler best area los angeles ....,171168,0.770833,positive
4,stay 31 day pay tax . large bright 1 bd apartm...,8258320,0.210130,positive

In [230]:
df_clean['subjectivity_score'] = ""

In [231]:
def calculated_sentiment(text):
    subjectivity_score = TextBlob(text)
    try:
        return subjectivity_score.sentiment.subjectivity
    except:
        return None

df_clean['subjectivity_score'] = df_clean['summary'].apply(calculated_sentiment)

df_clean.head()

,summary,host_id,polarity_score,polarity_sentiment,subjectivity_score
0,small room twin bed . room part large multi-ro...,9464908,0.212857,positive,0.459048
1,"comfortable , quiet room , located hill rowlan...",48449293,0.201637,positive,0.477381
2,"beautiful , newly remodeled 3br 2ba apartment ...",45839570,0.663939,positive,0.740909
3,perfect place traveler best area los angeles ....,171168,0.770833,positive,0.716667
4,stay 31 day pay tax . large bright 1 bd apartm...,8258320,0.210130,positive,0.461623

In [232]:
df_clean['subjectivity_sentiment'] = ""

In [233]:
def defined_sentiment(review):
    subjectivity_sentiment = TextBlob(review)

    sentiment = subjectivity_sentiment.sentiment.polarity
    if sentiment > 0:
        return "positive"
    elif sentiment < 0:
        return "negative"
    else:
        return "neutral"
    
df_clean['subjectivity_sentiment'] = df_clean['summary'].apply(defined_sentiment)
    
df_clean.head()

,summary,host_id,polarity_score,polarity_sentiment,subjectivity_score,subjectivity_sentiment
0,small room twin bed . room part large multi-ro...,9464908,0.212857,positive,0.459048,positive
1,"comfortable , quiet room , located hill rowlan...",48449293,0.201637,positive,0.477381,positive
2,"beautiful , newly remodeled 3br 2ba apartment ...",45839570,0.663939,positive,0.740909,positive
3,perfect place traveler best area los angeles ....,171168,0.770833,positive,0.716667,positive
4,stay 31 day pay tax . large bright 1 bd apartm...,8258320,0.210130,positive,0.461623,positive

In [234]:
df_clean = df_clean.rename(columns={'host_id': 'Host ID', 'summary': 'Summary', 'polarity_score': 'Polarity Score', 'polarity_sentiment': 'Polarity Sentiment', 'subjectivity_score': 'Subjectivity Score', 'subjectivity_sentiment': 'Subjectivity Sentiment'})

df_clean.head()

,Summary,Host ID,Polarity Score,Polarity Sentiment,Subjectivity Score,Subjectivity Sentiment
0,small room twin bed . room part large multi-ro...,9464908,0.212857,positive,0.459048,positive
1,"comfortable , quiet room , located hill rowlan...",48449293,0.201637,positive,0.477381,positive
2,"beautiful , newly remodeled 3br 2ba apartment ...",45839570,0.663939,positive,0.740909,positive
3,perfect place traveler best area los angeles ....,171168,0.770833,positive,0.716667,positive
4,stay 31 day pay tax . large bright 1 bd apartm...,8258320,0.210130,positive,0.461623,positive

In [235]:
for column in df_clean.columns:
    print(f'{column}: {df_clean[column].dtype}')

Summary: object
Host ID: int64
Polarity Score: float64
Polarity Sentiment: object
Subjectivity Score: float64
Subjectivity Sentiment: object

In [236]:
df_clean['Summary'] = df_clean['Summary'].astype('string')
df_clean['Polarity Score'] = df_clean['Polarity Score'].astype('string')
df_clean['Polarity Sentiment'] = df_clean['Polarity Sentiment'].astype('string')
df_clean['Subjectivity Score'] = df_clean['Subjectivity Score'].astype('string')
df_clean['Subjectivity Sentiment'] = df_clean['Subjectivity Sentiment'].astype('string')

In [237]:
df_clean.to_csv("C:\\Users\\cdj3e\\vu_bootcamp\\Project_03_Data_Engineering\\Data\\summary.csv", index=False)